
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/HPC-Training-AI.iml
.idea/vcs.xml
.idea/workspace.xml
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/data_level0.bin
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/data_level0.bin
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/header.bin
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/length.bin
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/link_lists.bin
chroma/chroma.sqlite3
chroma/d3c2064c-7c24-4b0d-9a6a-a0fee047fccb/data_level0.bin
chroma/d3c2064c-7c24-4b0d-9a6a-a0fee047fccb/header.bin
chroma/d3c2064c-7c24-4b0d-9a6a-a0fee047fccb/index_metadata.pickle
chroma/d3c2064c-7c24-4b0d-9a6a-a0fee047fccb/length.bin
chroma/d3c2064c-7c24-4b0d-9a6a-a0fee047fccb/link_lists.bin
chroma/chroma.sqlite3
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/link_lists.bin
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/length.bin
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/header.bin
chroma/212a2493-0a0e-4662-ba4c-ad3be9be77a4/data_level0.bin
*.pyc
.DS_Store
*.pdf